.PortfolioContainer {
  display: grid;
}

.portFolioH {
  font-weight: lighter;
  font-size: 4rem;
  margin: 1.5rem;
  cursor: default;
}

.portfolioText {
  text-align: justify;
  margin: 1.5rem;
  font-weight: lighter;
  grid-column: 3 / end;
  cursor: pointer;
  font-size: 1.5rem;
}
