.AboutContainer {
  display: grid;
}

.aboutTextContainer {
  text-align: justify;
  grid-column: 3 / end;
}

.aboutMe {
  font-weight: lighter;
  font-size: 4rem;
  margin: 1.5rem;
  cursor: default;
}

.aboutText {
  text-align: justify;
  margin: 1.5rem;
  font-weight: lighter;
  grid-column: 3 / end;
  cursor: default;
}
