.root {
  flex-grow: 1;
  background-color: #1e1e1e;
  z-index: 500;
  position: fixed;
  width: 100%;
}

.grow {
  flex-grow: 1;
  font-weight: bold;
}

.menuButton {
  margin-left: -12;
  margin-right: 20;
}
