.FooterContainer {
  width: 100%;
  background-color: rgba(27, 27, 27, 0.9);
  padding-top: 2px;

  bottom: 0;
  left: 0;
  height: 3rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
}
